*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

#people{
    margin-top: 3em;
    display:flex;
    gap:0.3em;
    max-width: 40vw;
    flex-wrap: wrap;
    justify-content: left;
}
#people li{
    display: inline;
    background-color: rgba(171, 226, 89, 0.691);
    padding: 0.5em 1.5em 0.5em 1.5em;
    min-width: 7em;
    min-height: 3em;
}
#people li{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}

.del{
    position: absolute;
    right: 0;
    background-color: gray;
    color: white;
    font-size: 1em;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 3px;

}